/* ======================================== Variables ======================================== */
:root {
  /* Colors */
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --description-color: #777;
  --section-padding: 100px;
}

/* ======================================== Global Rules ======================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid 1px red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "sans-serif";
}

ul {
  list-style: none;
}

.default-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .default-container {
    width: 810px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .default-container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .default-container {
    width: 1170px;
  }
}

/* ======================================== Components ======================================== */
/* Main Heading */
.main-heading {
  text-align: center;
}

.main-heading__header {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading__header::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  background-color: #333;
}

.main-heading__header::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  background-color: white;
}

.main-heading__description {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--description-color);
}

/* ======================================== 1. Header ======================================== */
.header {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

.header__container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(162, 162, 162);
  bottom: 0px;
  width: calc(100% - 30px);
  left: 15px;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

/* Navigation Icons */
.nav__toggle-icon,
.nav__close-icon {
  color: white;
  font-size: 22px;
  position: absolute;
  right: 80px;
}

/* Small Screen */
@media (min-width: 768px) {
  .nav__toggle-icon {
    display: none;
  }
}

.nav__close-icon {
  display: none;
}

.nav__menu {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  top: 100%;
  left: 0;
  width: 100%;
}

/* Small Screen */
@media (min-width: 768px) {
  .nav__menu {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: initial;
    justify-content: flex-end;
  }
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 16px;
  display: block;
  font-size: 14px;
  transition: 0.3s;
}

.nav__link--active,
.nav__link:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

/* Search Box */
.nav__search {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 0px;
  border-left: 1px solid white;
}

.nav__search-icon {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* ======================================== 2. Landing ======================================== */
.landing {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/landing-lg.jpeg");
  background-size: cover;
  background-color: darkslateblue;
}

.landing__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.landing__text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: wheat;
  display: flex;
  justify-content: flex-end;
  /* min-height: 40vh; */
}

.landing__content {
  max-width: 500px;
}

/* Small Screen */
@media (max-width: 767px) {
  .landing__text {
    width: 100%;
  }

  .landing__content {
    width: 100%;
  }
}

.landing__header {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing__description {
  font-size: 16px;
  line-height: 1.5;
}

.landing__left-arrow,
.landing__right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: wheat;
}

.landing__left-arrow {
  left: 1%;
}

.landing__right-arrow {
  right: 1%;
}

/* Small Screen */
@media (max-width: 767px) {

  .landing__left-arrow,
  .landing__right-arrow {
    display: none;
  }
}

.landing__bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.landing__bullet,
.landing__active-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid wheat;
}

.landing__active-bullet {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* ======================================== 3. Services ======================================== */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services__content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .services__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .services__box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "icon heading"
      "icon description";

    column-gap: 2rem;
    row-gap: 2rem;

    align-items: start;
    text-align: start;
  }
}

.services__icon {
  grid-area: icon;
}

.services__heading {
  grid-area: heading;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .services__heading {
    display: flex;
  }
}

.services__description {
  grid-area: description;
  line-height: 2;
  color: var(--description-color);
}